parameters:
    ignoreErrors:
        - "#^Function abort not found.$#"
        - "#^Function app not found.$#"
        - "#^Function config_path not found.$#"
        - "#^Function database_path not found.$#"
        - "#^Function config not found.$#"